* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: $main-color;
}

button {
    cursor: pointer;
}

input {
    border: none;
}

button {
    outline: none;
    border: none;

    &:focus {
        border: 1px solid #000;
    }
}