@import '../vars/vars.scss';

.advantage {
    color: rgb(13, 13, 13);
    padding: 65px 0 95px;
    background-color: rgb(246, 246, 246);

    .advantage__container {
        .advantage__title {
            margin-bottom: 70px;
        }

        .advantage__row {
            display: flex;
            justify-content: space-between;
            column-gap: 5px;

            &-item {
                text-align: center;
                width: 285px;
                opacity: 1;
                transition: 0.5s all ease-in-out;
                transform: translateX(0px);

                &:nth-child(1).animation {
                    opacity: 0;
                    transform: translateX(-100px);
                }

                &:nth-child(2).animation {
                    opacity: 0;
                    transform: translateX(-300px);
                }

                &:nth-child(3).animation {
                    opacity: 0;
                    transform: translateX(-500px);
                }

                .advantage__subtitle {
                    margin-top: 35px;
                    font-size: 18px;
                    font-weight: 700;
                }

                .advantage__descr {
                    padding: 0;
                    margin: 0;
                    font-size: 14px;
                    font-weight: 300;

                    &>span {
                        text-decoration: underline;
                        text-transform: uppercase;
                        color: $main-color;
                    }
                }

                .advantage__img-wrapper {
                    .advantage__heart {
                        transform: scale(0.9);
                        animation: heartBeat infinite alternate-reverse;
                        animation-duration: 0.9s;
                        animation-delay: 1s;
                    }
                }
            }
        }
    }
}

@keyframes heartBeat {
    0%{ transform: scale(0.9);}
    20%{ transform: scale(0.9);}
    40%{ transform: scale(1);}
    50%{ transform: scale(1.1);}
    60%{ transform: scale(1);}
    70%{ transform: scale(0.9);}
    80%{ transform: scale(1.1);}
    90%{ transform: scale(1.0);}
    100%{ transform: scale(0.9);}
}

@media (max-width: 621px) {
    .advantage {
        padding: 45px 0 75px;

        .advantage__container {
            .advantage__title {
                font-weight: bold;
                margin-bottom: 45px;
            }

            .advantage__row {
                column-gap: 5px;

                &-item {
                    width: 200px;

                    &:nth-child(1).animation {
                        opacity: 0;
                        transform: translateX(-50px);
                    }

                    &:nth-child(2).animation {
                        opacity: 0;
                        transform: translateX(-120px);
                    }

                    &:nth-child(3).animation {
                        opacity: 0;
                        transform: translateX(-200px);
                    }

                    .advantage__subtitle {
                        margin-top: 15px;
                        font-size: 18px;
                    }

                    .advantage__descr {
                        padding: 0;
                        margin: 0;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .advantage {
        padding: 45px 0 45px;

        .advantage__container {
            .advantage__title {
                margin-bottom: 35px;
            }

            .advantage__row {
                flex-direction: column;
                align-items: center;
                row-gap: 20px;

                &-item {
                    width: 250px;

                    .advantage__subtitle {
                        margin-top: 10px;
                    }

                }
            }
        }
    }
}