@import '../vars/vars.scss';

.carousel {
    color: #000;
    padding: 115px 0 80px 0;
    margin: 0 auto;
    max-width: 100%;

    &__container {
        position: relative;

        .carousel__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .carousel-item {
                display: flex;
                justify-content: center;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

        .tiny-prev,
        .tiny-next {
            position: absolute;
            border: none;
            background-color: transparent;
            z-index: 10;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;

            img {
                width: 31px;
                height: 50px;
            }
        }

        .tiny-prev {
            left: 31px;
            transform: translateX(-50%);
        }

        .tiny-next {
            right: 0px;
            transform: translateX(-50%);
        }
    }

    .tns-nav {
        display: flex;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        visibility: hidden;


        button {
            display: block;
            height: 30px;
            width: 30px;
            border: 3px solid $main-color;
            background-color: #fff;
            transform: scale(1);
            border-radius: 50%;
            transition: 0.3s linear all;

            &.tns-nav-active {
                background-color: $main-color;
                border: none;
                transform: scale(1.2);
            }

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;
        }

        li:not(:last-child) {
            margin-right: 20px;
        }

        li::before {

            content: '';
            display: block;
            height: 30px;
            width: 30px;
            background-color: $main-color;
            transform: scale(1);
            border-radius: 50%;
        }

        .slick-active {
            transition: transform 0.4s linear;
            transform: scale(1.4);
        }

        li>button {
            visibility: hidden;
        }
    }
}

@media (max-width: 700px) {
    .carousel {
        padding: 100px 0 80px 0;

        &__container {
            .carousel__wrapper {

                .carousel-item {
                    img {}
                }
            }

            .tiny-prev,
            .tiny-next {
                visibility: hidden;
                user-select: none;

                img {}
            }

            .tiny-prev {}

            .tiny-next {}
        }

        .tns-nav {
            visibility: visible;
            bottom: 20px;

            button {
                &.tns-nav-active {}

                &:not(:last-child) {}
            }
        }
    }
}

@media (max-width: 470px) {
    .carousel {
        padding: 50px 0;
        max-width: 380px;

        &__wrapper {
            height: 350px;

            .carousel-item {
                img {}
            }
        }

        &__container {

            .tns-nav {
                bottom: 20px;
                visibility: visible;

                button {
                    height: 25px;
                    width: 25px;

                    &.tns-nav-active {
                        background-color: $main-color;
                        border: none;
                        transform: scale(1.2);
                    }

                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }


            .tiny-prev,
            .tiny-next {

                img {
                    width: 20px;
                    height: 35px;
                }
            }

            .tiny-prev {
                left: -5px;
                transform: translateX(-50%);
            }

            .tiny-next {
                left: 101%;
                transform: translateX(-50%);
            }
        }


        .slick-dots {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                list-style: none;
            }

            li:not(:last-child) {
                margin-right: 20px;
            }

            li::before {

                content: '';
                display: block;
                height: 30px;
                width: 30px;
                background-color: $main-color;
                transform: scale(1);
                border-radius: 50%;
            }

            .slick-active {
                transition: transform 0.4s linear;
                transform: scale(1.4);
            }

            li>button {
                visibility: hidden;
            }
        }
    }
}