@import '../vars/vars.scss';

.catalog {
    color: #000;
    padding: 20px 0 100px 0;

    .catalog__title {}

    .tabs {
        margin-top: 70px;
        display: flex;
        justify-content: center;
        column-gap: 20px;

        .tabs__item {
            position: relative;
            width: 220px;
            cursor: pointer;

            &:hover div:first-child {
                transition: 0.2s box-shadow linear;
                box-shadow: 0 0 10px 5px $main-color;
            }


            &.active {
                & div:first-child {
                    background-color: $main-color;
                    border-color: $main-color;

                    &+div {
                        font-size: 16px;
                        color: #fff;
                    }
                }
            }


            &>div {
                pointer-events: none;
            }

            .skew {
                &:hover {
                    box-shadow: 0 0 10px 5px $main-color;
                }

                height: 50px;
                transform: skew(-25deg);
                border: 2px rgb(208, 208, 208) solid;
                transition: background-color 0.2s linear,
                color 0.1s linear;
                background-color: transparent;
            }

            .text {
                width: 150px;
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 13px;
                font-weight: 500;
                color: rgb(107, 107, 107);
                text-transform: uppercase;
            }
        }
    }

    .catalog__list {
        margin-top: 60px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;

        &:has(.empty-list) {
            justify-content: center;
            font-size: 40px;
            padding: 100px 0;
            font-weight: 700;
        }


        .catalog__item {
            padding: 20px 5px;
            border: 2px rgb(232, 232, 232) solid;
            max-width: 296px;
            min-height: 440px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            transition: 0.1s linear;
            overflow: hidden;

            &:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            }

            .catalog__item-content {
                text-align: center;
                transition: 0.3s linear;
                opacity: 1;
                position: relative;
                left: 0;

                &.active-link {
                    opacity: 0;
                    left: 100%;
                }

                &.active-link+div {
                    opacity: 1;
                    left: 0;
                }


                .item__title {
                    margin-top: 20px;
                    font-size: 16px;
                    color: rgb(13, 13, 13);
                }

                .item__descr {
                    margin-top: 15px;
                    font-size: 14px;
                    color: rgb(13, 13, 13);
                }

                .more-link {
                    margin: 15px auto 0;
                    display: block;
                    font-weight: 700;
                    font-size: 14px;
                    text-transform: uppercase;
                    max-width: 90px;
                    color: #e41414;
                    transition: 0.2s linear;
                    position: relative;

                    &::after {
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        content: '';
                        height: 2px;
                        width: 100%;
                        background-color: #e41414;
                        border-radius: 5px;
                        transition: 0.2s linear;
                    }

                    &:hover {
                        // color: lighten($main-color, 20%);
                        color: red;
                    }

                    &:hover::after {
                        background-color: lighten($main-color, 20%);
                    }
                }
            }


            .catalog__item-info {
                margin-top: 20px;
                position: absolute;
                top: 0;
                width: 100%;
                left: 100%;
                opacity: 0;
                transition: 0.3s linear;
                max-height: 292px;

                &.active-link {
                    opacity: 0;
                    left: 100%;
                }

                .catalog__item-text {

                    li {
                        padding: 0 10px 0 25px;
                        position: relative;
                        font-size: 14px;
                        color: rgb(85, 85, 85);
                        font-weight: 300;

                        &:not(:last-child) {
                            margin-bottom: 15px;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            top: 7px;
                            left: 12px;
                            width: 5px;
                            height: 5px;
                            background-color: $main-color;
                        }
                    }
                }

                .back-link {
                    display: block;
                    font-weight: 700;
                    font-size: 14px;
                    text-transform: uppercase;
                    color: #e41414;
                    width: 50px;
                    margin: 15px auto 0;

                    &::after {
                        content: '';
                        display: block;
                        height: 2px;
                        width: 100%;
                        background-color: #e41414;
                    }
                }
            }


            .line {
                background-color: rgb(232, 232, 232);
                width: 260px;
                height: 1px;
                margin: 20px auto 0;
            }

            .item__buy-block {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .item__price-block {
                    margin-left: 15px;
                    text-align: left;

                    .item__promotion-price {
                        font-size: 14px;
                        color: rgb(85, 85, 85);
                        text-decoration: line-through;
                    }

                    .item__price {
                        font-size: 20px;
                        color: rgb(5, 5, 5);
                        font-weight: 700;
                    }
                }

                .item__buy-button {
                    margin-right: 15px;
                    font-size: 14px;
                }
            }
        }
    }
}



@media (max-width: 621px) {
    .catalog {
        padding: 20px 0 80px;

        .tabs {
            padding: 0 5px;
            margin-top: 30px;

            .tabs__item {
                width: 180px;

                &.active {
                    & div:first-child {
                        background-color: $main-color;
                        border-color: $main-color;

                        &+div {
                            font-size: 14px;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .catalog__list {
            justify-content: center;
            margin-top: 30px;
            gap: 10px;

            .catalog__item {

                .item__descr {
                    margin-top: 10px;
                }

                .more-link {
                    margin-top: 10px;
                    padding: 5px;

                    &::after {
                        width: 110%;
                    }
                }

                .line {}

                .item__buy-block {

                    .item__price-block {
                        max-width: 120px;
                        margin-left: 5px;
                    }

                    .item__buy-button {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .catalog {
        padding: 20px 0 50px 0;


        .tabs {
            margin-top: 40px;
            gap: 5px;

            .tabs__item {
                width: 128px;

                &.active {
                    & div:first-child {
                        background-color: $main-color;
                        border-color: $main-color;

                        &+div {
                            font-size: 13px;
                            color: #fff;
                        }
                    }
                }

                .text {
                    font-size: 12px;
                    font-weight: 700;
                }
            }
        }

        .catalog__list {
            justify-content: center;
            margin-top: 30px;
            gap: 10px;

            .catalog__item {
                padding: 10px 5px;

                .item__title {
                    margin-top: 15px;
                }

                .item__descr {
                    margin-top: 10px;
                }

                .more-link {
                    margin-top: 10px;

                    &::after {}
                }

                .line {}

                .item__buy-block {
                    margin-top: 10px;

                    .item__price-block {
                        .item__promotion-price {}

                        .item__price {}
                    }

                    .item__buy-button {}
                }
            }
        }
    }
}