@import '../vars/vars.scss';

.selection {
    display: flex;
    margin-top: 70px;
    margin-left: auto;
    margin-right: 10px;

    .selection__container {
        margin-left: auto;

        .selection__title {
            font-size: 42px;
            font-weight: 500;
            text-transform: uppercase;
        }

        .selection__subtitle {
            margin-top: 10px;
            font-size: 21px;
            text-transform: uppercase;
            text-align: right;
        }

        .selection__row {
            margin-top: 65px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .selection__row-item {
                text-align: center;
                height: 120px;
                width: 105px;

                .selection__img-wrapper {
                    &>img {}
                }

                .selection__item-subtitle {
                    font-size: 14px;
                    font-weight: 500;
                    margin-top: 15px;
                    line-height: 16px;
                }
            }
        }

        .selection__bottom {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 65px;

            .button.button_big {
                font-size: 16px;
                text-transform: uppercase;
                text-align: center;
            }
        }


        .selection__bottom-catalog {
            font-size: 16px;
            margin-top: 15px;

            .selection__bottom-link {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                position: relative;
                z-index: 10;
                font-weight: 600;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    height: 2px;
                    transition: 0.2s linear;
                    background-color: #fff;
                }

                &:hover::before {
                    // background: $main-color 50% 50% /cover no-repeat;
                    z-index: -1;
                    background-color: rgba(83, 178, 213, 0.85);
                    height: 100%;
                }

                &:hover {
                    // color: $main-color;
                }
            }
        }
    }
}

@media (max-width: 620px) {
    .selection {
        .selection__container {
            .selection__title {
                font-size: 34px;
            }

            .selection__subtitle {
                font-size: 18px;
            }

            .selection__row {
                margin-top: 45px;
            }

            .selection__bottom {
                margin-top: 45px;

                &>button {
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .selection {
        display: flex;
        margin-left: auto;
        margin-right: 10px;
        text-align: right;

        &__container.container {
            margin: 0;


            .selection__title {
                font-size: 30px;
                font-weight: 500;
                text-transform: uppercase;
            }

            .selection__subtitle {
                margin-top: 10px;
                font-size: 21px;
                text-transform: uppercase;
            }

            .selection__row {
                margin-top: 65px;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .selection__row-item {
                    text-align: center;
                    height: 120px;
                    width: 105px;

                    .selection__img-wrapper {
                        &>img {}
                    }

                    .selection__item-subtitle {
                        font-size: 14px;
                        font-weight: 500;
                        margin-top: 15px;
                        line-height: 16px;
                    }
                }
            }

            .selection__bottom {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-top: 65px;

                .selection__bottom-catalog {
                    font-size: 16px;
                    margin-top: 15px;

                    .selection__bottom-link {
                        color: #fff;
                        text-decoration: underline;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}