@import "modules/promo";
@import "modules/header";
@import "modules/selection";
@import "modules/advantage";
@import "modules/carousel";
@import "modules/consultation";
@import "modules/catalog";
@import "modules/modal";
@import "modules/clients";
@import "modules/map";
@import "modules/tabs";
@import "modules/reset";
@import "fonts/fonts";
@import "vars/vars";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;

  scroll-behavior: smooth;
}

body {
  height: 100%;

  font-family: "MuseoSansCyrl", sans-serif;
  font-weight: 500;
  color: #fff;
}

.container {
  max-width: 950px;

  margin: 0 auto;
  padding: 0 10px;

  overflow: hidden;
}

.button {
  border: none;

  font-size: 12px;
  text-align: center;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #fff;
  background-color: $main-color;
}

.button_xsmall {
  width: 131px;
  height: 40px;
}

.button_small {
  width: 150px;
  height: 30px;
}

.button_big {
  width: 300px;
  height: 50px;
}

.phone-link {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.input {
  outline: 0;

  height: 50px;
  width: 300px;

  border-radius: 10px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.btn_animation {
  background-image: linear-gradient(45deg, #05aa4a 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;

  transition: background 0.4s ease-in-out;
}

.btn_animation:hover {
  background-position: 0;
}

.error-status {
  margin-bottom: 15px;

  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: red;

  animation: errorAnim 0.3s ease-in-out;
}

@keyframes errorAnim {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.pageUp {
  cursor: pointer;

  display: grid;
  place-items: center;

  position: fixed;
  right: 15px;
  bottom: 15px;

  width: 60px;
  height: 60px;
  z-index: 12;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  visibility: hidden;

  transition: 0.3s ease-in-out;
  img {
    transform: rotate(90deg);
  }
}
